<ion-header>
  <ion-toolbar color="primary"> 
    <ion-row>  
      <ion-col>        
          <ion-back-button defaultHref="tabs/tab1"></ion-back-button>        
  </ion-col> 
    <ion-col size="10">
    <ion-text>      
      <h2>Payments</h2>
    </ion-text>
  </ion-col> 
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    
    <ion-text> 
      
      <h1>{{payment_results}}</h1>
    </ion-text> 
    <ion-text>       
      <h2>Please click on the finish button to complete the payment for order {{this.get_text_ref()}}.</h2>
    </ion-text>   
  </ion-item>
  
    <ion-button expand="block" shape="round" color="primary" (click)="save_payment()">
        
      <span style="text-transform:none!important;font-size:20px;">Finish payment</span></ion-button>
  
</ion-content>
